{%  render 'partials/head.liquid' %}

{%  render 'partials/headerNieuws.liquid' %}

<main>
    <img src="https://fdnd-agency.directus.app/assets/{{artikel.image}}" alt="{{newsItem.title}}">
    <time datetime="{{ artikel.date }}"></time>
    <p class="open-sans">
        {{ artikel.title }}
    </p>
    <p>
        {{ artikel.body }}
    </p>
</main>

{%  render 'partials/navbar.liquid' %}

{%  render 'partials/foot.liquid' %}

